src/main/resources/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users" type="usersType"/>
  <xs:complexType name="usersType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element type="userType" name="user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="email"/>
      <xs:element type="xs:date" name="birthday"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>